.section1 {
    background-color: #d35f5f;
    width: 100%;
    height: 50rem;
}

.section2 {
    background-color: rgb(59, 168, 168);
    height: 50rem;
}

.section3 {
    background-color: rgb(68, 68, 160);
    height: 50rem;
}

.section4 {
    background-color: rgb(48, 25, 70);
    height: 50rem;
}